[submodule "external/google-benchmark"]
	path = external/google-benchmark
	url = git@github.com:google/benchmark.git
[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb.git
